# https://task-manage-azure.vercel.app/api/cron/calculate-fines
# .github/workflows/cron.yml
name: Daily and 5-Min Cron Jobs
on:
  schedule:
    - cron: "30 18 * * *"   # Runs every day at 00:00 IST
    - cron: "*/5 * * * *"   # Runs every 5 minutes
  workflow_dispatch:         # Allows manual trigger from GitHub UI

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Daily fine calculation
        if: github.event.schedule == '30 18 * * *'
        run: curl -s https://task-manage-azure.vercel.app/api/cron/calculate-fines
        
      - name: Test 5-min cron
        if: github.event.schedule == '*/5 * * * *'
        run: curl -s https://task-manage-azure.vercel.app/api/cron/calculate-morning-jobs
